/* PC */
@media (min-width: 992px) {
}

/* tablet & mobile */
@media (max-width: 991.98px) {
  /* 1. Ẩn navbar */
  .navbar {
    display: none;
  }
  /* 2. Căn giữa logo */
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }
  /*2. can lai vi trri cuar bars icon */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    color: white;
    width: 24px;
  }
  /* 4. overlay */
  .menu-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    /* binh thuong an di */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  /* 5. kiem tra menu-checkbox co dc check hay khong */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
}

/* Tablet */
@media (min-width: 768px) and(max-width:991.98) {
}

/* mobile */
@media (max-width: 767.98px) {
}

/* tam an */
.hero,
.footer,
main {
  display: none;
}
